@import "tailwindcss";

body {
    background-color: rgb(7, 4, 33);
    color: white;
    font-family: "Roboto Slab", serif;

}

.banner {
    background-image: url('/image/banner.jpg');
    background-size: cover;
    height: 95vh;
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    background-color: rgb(2, 2, 36);
    background-size: cover;
    top: 0px;
    height: 95vh;
    width: 100%;
    opacity: 0.65;
}

.logo-user {
    display: flex;
    position: relative;
    top: -91vh;
    left: 7vw;
    gap: 75vw;
    max-width: 85%;

}

.logo-user img {
    height: 5.5vh;
}

.logo-user h1 {
    font-size: 6vh;
}
.content-Banner{
border: 2px solid red;
width: 32vw;
height: 22vh;
position: relative;
}

#headingBanner {
    left: 7vw;
    top: 39vh;
    height: 62vh;
    position: absolute;
}

#paraBanner {
    position: absolute;
    left: 7.5vw;
    top: 39vh;
    color: white;
}

#startToday {
    position: absolute;
    left: 7vw;
    top: 43vh;
    width: 12vw;
    background-color: rgb(255, 255, 255);
    color: white;
    opacity: 0.85;
    border-radius: 22px;
    cursor: pointer;
    font-size: 3vh;
}

.section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 95%;
    margin-bottom: 3rem;
    margin-top: 4rem;


}

.section.reverse {
    flex-direction: row-reverse;
}

.lift {
    object-fit: cover;
    object-position: top;
    width: 10rem;
    max-height: 35rem;
    object-fit: cover;
    cursor: pointer;
}

.section img {
    width: 32rem;
    height: 25rem;
    object-fit: cover;
    cursor: pointer;
    margin-left: 10vw;

}

.section.reverse img {
    width: 32rem;
    height: 25rem;
    object-fit: cover;
    cursor: pointer;
}

.section img:hover {
    border: 2px solid rgb(221, 238, 245);
}

.section h1 {
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.section.reverse h1 {
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.section span {
    height: 35vh;
    width: 35vw;
    position: relative;
    left: 9vw;
    top: -3vh;
}

.reverse-div {
    display: flex-start;
    gap: 2rem;
    position: relative;
    right: 3vw;
    height: 35vh;
    width: 35vw;
    top: -3vh;
}

footer {
    background-color: rgb(20, 20, 33);
    height: 21rem;
    color: white;
    width: 100%;
}

.collaboration {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh auto;
    margin-top: 0vh;
    max-width: 40%;
    gap: 2rem;
}

.collaboration img {
    height: 7rem;
    margin-top: 1rem;
}

footer p {
    display: flex;
    justify-content: center;
    color: rgb(164, 163, 163);
    padding-top: 2rem;
    font-size: 1.5rem;
}

.rights {
    font-size: 1rem;
    padding-top: 4rem;
}

.hr {
    width: 70%;
    margin-left: 15%;
    margin-top: -2%;
    color: rgb(123, 122, 122);
}